h1,h2{
    color: rgb(49, 49, 49);
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
body {
    width: 800px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
  }
#bt{
  display:flex;
  justify-content:center;
  position:relative;
  top:40px;
  align-items:center;
}
img {
    display: block;
    margin: 0 auto;
  }
button{
    width:130px;
    height:50px;
    margin: 0 auto;
    background-color: #ffffffab;
    color: rgb(82, 82, 82);
    font-size: 22px;
    padding: 8px;
    border-radius: 12px;
    width:auto;
    float:left;
    transition-duration: 0.4s;
  }
button:hover {
    background-color: #e7e7e7;
    color: rgb(82, 82, 82);
  }
.align-center{
  width: 800px;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
}
#pic{
  width: 800px;
}
.icon{
  max-width:192px;
  height: 192px;
}
.intro{
    padding: 0;
    height: 100vh;
    background-color:#FFF7E8;
    background-image: url(../遊戲圖檔/img_background.png);
    background-size: cover;
  }
.endText{
  padding: 10px;
}
